@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
body {
  font-family: 'Source Serif Pro', serif;
}

span {
  font-size: 25px;
  font-family: 'Yesteryear', cursive;
}
.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  top: 0;
}
.n-left {
  flex: 1;
  align-items: center;
  justify-content: left;
  display: flex;
  gap: 2rem;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}
.n-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}

.n-list {
  flex: 10;
}
.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
}

.n-list > ul :hover {
  color: var(--orange);
  cursor: pointer;
}

.n-button {
  flex: 2;
}

@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }
}
.navbar_container {
  /* border-radius: 50px; */
  background-color: #00008b !important;
}

@media screen and (max-width: 480px) {
  .logo_set img {
    width: 50px;
  }
}
.header-scroll {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 9;
  transition: 2s all ease !important;
  background-color: #000 !important;
}
